.lottery-ball {
    width: 100px; 
    height: 100px; 
    background-color: dodgerblue; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 100px; 
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin: 10px;
}

.big-button {
    height: 70px; 
    width: 120px;
    border-radius: 10px;
}
